body {
    margin: 0;
    color: black; 
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0 auto;
    font-family: 'Architects Daughter', cursive;
    font-size: 60px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin-top: 0;
}
.top {
    background-color: #e4fbff;
    text-align: center;
    padding-top: 100px;
    position: relative;
}
.middle{
    background-color: #b8b5ff;
    position: relative;
    height: 750px;
}
table{
    padding-top: 50px;
}
p {
    margin: 35px;
    text-indent: 50px;
  }

.foot{
    background-color: #7868e6;
    position: relative;
    height: 300px;
}
.foot img{
    height: 40px;
    position: relative;
    top: 4px;
}

.foot h3{
    display: inline;
    padding-left: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.foot ul{
    float: left;
    list-style: none;
    margin-top: 20px;
    margin-left: 270px;
}

.foot li{
    display: inline-block;
    padding: 0px 50px;
}

.pro {
    text-decoration: underline;
}